# Build outputs
bin/
obj/
_build/
_obj/
**/bin/
**/obj/

# IDE/editor
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node
**/node_modules/
**/dist/
**/build/
**/.angular/
**/.npm/
**/.cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Containers
**/*.tar
